@import "../../scss/all.scss";

.user-page {
  color: $green;
  min-height: calc(100vh - $header-min-height - $footer-min-height);
  display: grid;
  grid-template-areas: "A A"
                       "B D";
  grid-template-rows: 100px 1fr;
  justify-content: space-evenly;
}

.user__title {
  grid-area: A;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

.user__info {
  grid-area: B;
}

.user__score {
  grid-area: D;
}

.info__title,
.score__title {
  text-align: center;
  text-transform: uppercase;
}

.avatar {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
   .avatar__img {
    background-color: $green-bg;
    padding: 10px;
    border: 5px solid $green-light;
    border-radius: 50%;
  }
}

.info__item {
  display: flex;
  width: fit-content;
  justify-content: start;
  align-items: center;
  background-color: $green-bg;
  border: 5px solid $green-light;
  border-radius: 10px;
  padding-left: 10px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  span {
    background-color: $white;
    border-radius: 6px;
    color: $green;
    padding: 10px;
    text-transform: none;
    margin-left: 10px;
  }
}

.name {
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
    width: 40px;
    height: 40px;
    background: url(../../../public/images/pencil.svg) center no-repeat;
    background-size: cover;
    transition: all .3s;
    &:hover {
      cursor: pointer;
      transform: rotate(-45deg);
    }
}

.score__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $green-bg;
  border: 5px solid $green-light;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  .score__item {
    color: $white;
    text-align: left;
    line-height: 30px;
  }
}
