@import "./src/scss/all";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 4px solid $green-light;
  border-radius: 15px;
  background-color: $green-bg;
  color: $white;
}

.header-title {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin-left: 20px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}
