@import "./src/scss/all";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 4px solid $green-light;
  border-radius: 15px;
  background-color: $green-bg;
  color: $white;
}

.header-title {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;

    a {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
}

.gear {
  width: 30px;
}

.header-login {
  font-size: 22px;
  list-style: none;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
}

.header-user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;

  .header-username,
  .header-level-game {
    margin-right: 10px;
    font-size: 22px;
  }

  .header-username {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    cursor: pointer;
  }

  .header-signout {
    font-size: 18px;
    border: none;
    background-color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }

  .header-avatar {
    margin-right: 10px;

    img {
      border-radius: 50%;
    }
  }
}
