@import "./src/scss/all";

.admin-page {
  align-items: center;
  overflow: unset;
}

.admin-wrapper {
  text-align: center;
}

.admin-page-divider {
  width: 100%;
  height: 4px;
  border-top: 1px black;
  border-top-style: solid;
}

.user-game-record-wrapper {
  display: flex;
}

.user-record-user-wrapper {
  display: flex;
  align-items: center;
  h3 {
    margin: 0 0.5rem;
  }
}

.user-record-form-wrapper {
  display: flex;
  align-items: center;
}

.user-record-checkboxes-wrapper {
  margin: 0.5rem 0;
}

.user-record-user-data-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-record-admin {
  display: inline-block;
  padding: .1rem;
  border: 2px solid $red;
  margin: 0 .3rem;
}

.user-record-user-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4{
    text-align: initial;
    font-family: Arial, serif;
    margin: .1rem;
  }
}

.level-checkbox {
  &.achieved {
    background: $green-light;
  }
}

.user-record-info-wrapper {
  margin: 1.1rem;
  display: flex;
  flex-direction: column;
}

.user-record-form-buttons {
  display: flex;
  justify-content: space-between;
  button, .update-button {
    @include themed() {
      background-color: t('light');
    }
    border-radius: 3px;
    border-width: 0;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    &:hover {
      box-shadow: 0 0 1px;
    }
    &:active {
      box-shadow: 0 0 2px;
    }
  }
}

