@import "./src/scss/all";

.page-game {
  height: 100%;
}

.game {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  margin: 0 15px;

  section {
    width: 50vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.game-desc {
  padding: 20px;
  background-color: $green-bg;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.level-selector{
  display: inline-block;
  background: $green-light;
  border: 2px $black;
  span {
    display: block;
    padding: .5rem;
  }
}

.question-block {
  padding: 10px;
  background-color: $gray-light;
  margin-bottom: 15px;
  .answer-block {
    display: inline-flex;
    width: 100%;
    textarea {
      padding: 0;
      resize: none;
      border: none;
      background-color: $white;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
pre {
  margin: 0;
}

.answer-button {
  width: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green-light;
  color: $white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px -3px $black;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
  border: none;
  &:disabled{
    background-color: $green-light;
    box-shadow: inset 0 1px 10px -3px $black;
    cursor: auto;
    transition: 1s;
  }
}

code {
  display: inline-block;
  border-radius: .2rem;
  padding: .1rem;
  background-color: $gray-light;
}

.rules-list > li > code {
  font-size: 1rem;
  display: inline-block;
  margin: .1rem;
  border-radius: .3rem;
  background-color: $green-light;
}

.view {
  background-color: $blue-light;
}

.board {
  position: sticky;
  height: 100%;
  width: 100%;
}

.frog, .background {
  display: flex;
  z-index: 4;
}

.items-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.frog {
  z-index: 5;
}

.background-item {
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  &.item-1 {
    background-image: url(../../../public/images/leafy.svg);
  }
  &.item-2 {
    background-image: url(../../../public/images/leafy2.svg);
  }
  &.item-3 {
    background-image: url(../../../public/images/leafy3.svg);
  }
}

.frog-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 2;

  div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    &.frog-image-1 {
      background-image: url("../../../public/images/frog.svg");
    }
    &.frog-image-2 {
      background-image: url("../../../public/images/frog2.svg");
    }
    &.frog-image-3 {
      background-image: url("../../../public/images/frog3.svg");
    }
  }
}
