@import "all";

@font-face {
  font-family: "Rubik";
  src: url("../../public/fonts/rubik-regular.woff2") format("woff2"), url("../../public/fonts/rubik-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../../public/fonts/rubik-medium.woff2") format("woff2"), url("../../public/fonts/rubik-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../../public/fonts/rubik-bold.woff2") format("woff2"), url("../../public/fonts/rubik-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body, #root, .theme-wrapper {
  margin: 0;
  height: 100%;
  font-family: $main-font-family;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  @media screen and (max-height: 472px) {
    height: unset;
  }
}

.page {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
