// Colors
$white: #fff;
$black: #000;
$green-light: #97dc99;
$green: #0e3c10;
$green-bg: #82a183;
$aqua: #30c5ff;
$gray: #807b7b;
$red: #c73636;
$blue: #0000ff;

// Fonts
$main-font-family: 'Rubik', sans-serif;

// Header & Footer
$header-min-height: 83px;
$footer-min-height: 78px;
